<ActionBar title="Categoria" class="top" style="color: rgb(249, 249, 249);"></ActionBar>
<GridLayout *ngIf="selectedTabview == 0" row="2" width="100%"
backgroundColor="white">
<ListView #listview [items]="items" separatorColor="transparent">
    <ng-template let-item="item">
        <StackLayout class="main">
            <StackLayout class="content">
                <Image stretch="aspectFill" class="card-img" (tap)="showItem(item.id)"
                    [src]="item.cover"></Image>
                <GridLayout width="100%" columns="auto,*" rows="auto,auto"
                    class="" verticalAlignment="center">
                    <Label row="0" col="1" class="item-name" textwrap="true"
                        verticalAlignment="bottom"
                        horizontalAlignment="left" [text]="item.name"></Label>
                    <GridLayout row="1" col="1" rows="auto" columns="auto,auto,auto">
                        <Label row="0" col="0" class="item-category"
                            textwrap="true" verticalAlignment="top"
                            horizontalAlignment="left" [text]="item.category"></Label>
                        <!-- <Label col="1" row="0" class="fa rating-icon"
                            text="&#xf005;"></Label> -->
                        <!-- <Label col="2" row="0" class="rating-value item-category"
                            [text]="item.rating"></Label> -->
                    </GridLayout>
                </GridLayout>
                <StackLayout width="100%" marginTop="5" class="line"></StackLayout>

            </StackLayout>

            <StackLayout width="100%" class="lineBreak"></StackLayout>

        </StackLayout>
    </ng-template>
</ListView>
</GridLayout>
